@media screen and (max-width: 800px){
    .container{
        display::flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 10px;
        width: 250px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }
}