/*reset do css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: NetflixSansRegular;
}

/* adicionando a font externa do netflix ao projeto */
/* @font-face {
    font-family: NetflixSansRegular;
    font-family: NetflixSansMedium.ttf;
    src: url(../font/NetflixSansMedium.ttf);
    src: url(../font/NetflixSansRegular.ttf);
} */

/*declarando variáveis no CSS para só alterar a cor em apenas um lugar caso precisa*/
:root{
    --vermelho: #E50914;
    --preto: #141414;
}

header .logo{
    font-family: NetflixSansMedium;
    font-size: 40px;
    color: var(--vermelho);
    margin-left: 10px;
}

header nav a{
    color: #AAA;
    margin-right: 15px;
}

header nav a:hover{
    color: #FFF;
}

header .container{
    display: flex;
    /* flex-direction: row;  propriedade padrão ao se colocar o display flex*/
    align-items: center;
    justify-content: space-between;
}

body{
    background: var(--preto);
    color: white;
}

/* filme principal */
.filme-principal{
    font-size: 16px;
    background-image: url('/img/BP-cover.jpg');

    height: 600px;
    background-size: cover;
    /* background-repeat: no-repeat; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sinopse{
    margin-bottom: 40px;
}

.titulo{
    font-size: 40px;
    margin-top: 10px;
}

.botao{
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 15px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 25px;
}

.filme-principal .container{
    width: 50%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 10px;
}